.feed-container {
  display: flex;
  flex-direction: column;

  .feed-item {
    padding: 2em;
    border:1px solid blue;
    border-radius: 1em;
    margin: 1em;

    .tweet-id {
      visibility: hidden;
    }
  }

  .feed-item-action-container {
    display: flex;
    justify-content: flex-start;

    .feed-item-action {
      display: flex;
      white-space: nowrap;
      justify-content: flex-start;
    }

    .feed-item-action-img {
      width: 2em;
      height: 1em;
    }

  }

}